.productpage {
  max-width: 1300px;
  display: flex;
  margin: 1rem auto;
}

.productpage__left {
  display: flex;
  flex: 0.8;
}

.left__image {
  margin: 1rem;
  flex: 0.6;
}

.left__info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.left__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.info__item {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info__item:last-child {
  border: none;
}

.productpage__right {
  flex: 0.2;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__info button {
  grid-column: 1/-1;
  padding: 10px 16px;
  background: #171717;
  color: #fff;
  border: 1px solid #171717;
  cursor: pointer;
}

.right__info select {
  padding: 8px 16px;
}

@media (max-width: 960px) {
  .productpage {
    flex-direction: column;
  }

  .productpage__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image{
    flex:1;
  }

  .left__info{
    flex:1;
  }

  .productpage__right{
    flex:1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}
